.menu{
display: flex;
flex-direction: column;
background: #F8BFC7;
}
li{
 display :inline;
padding-right: 50px;
font-family: 'Helvetica';
font-weight: 700;
font-size: 20px;
color: #000000;
padding-top: 33px;
padding-bottom: 33px;
}
.ontheway{
    
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #336fd1;
    height: 200px;
}
h1{
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 57px;

color: #FEB700;
}
.form{
display: flex;
align-content: center;
height: 300px;
border: 3px solid #FFFFFF;
border-radius: 20px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
background-color: #F8BFC7;
color: #FFFFFF;
padding-top:30px;
padding-left: 33px;
padding-right: 33px;
padding-bottom: 30px;
margin: 90px;
}
.send{
display: flex;
justify-content: center;
margin-top: 65px;
background: #FEB700;
border: 3px solid #FFFFFF;
border-radius: 30px;
}
.send button{
    font-size: 16px;
    font-weight: bold;
    background: #FEB700;
    color: #FFFFFF;

    border: none;
    border-radius: 30px;
    
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 1440px;
    height: 643px;
    background-image: url(./background.svg);
    background-size: cover;

}
.form label[for="full-name"]
{
    padding-top: 7px;
}
.form label[for="city"]
{
    padding-top: 7px;
}
.form label[for="full-item"]
{
    padding-top: 7px;
}
.form label[for="email"]
{
    padding-top: 7px;
}
.form  input[type="text"],
.form input[type="email"] {

color: #FFFFFF;
background-color:#F8BFC7;
border: none;
border-bottom: 1px solid #FFFFFF;
  
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  box-shadow: none; 
}
input::-webkit-input-placeholder { color: #FFFFFF; }
.secretGift{
display: flex;
justify-content: space-between;
background: #F8BFC7;
}
h3{
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 23px;
padding-right: 50px;
padding-left: 50px;
color: #FFFFFF;
}